In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [6]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [7]:
# data preprocessing
df.shape

(7043, 21)

In [8]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
# keeping important columns 
keep_to_columns=['gender','SeniorCitizen','Partner','Dependents','tenure','PhoneService','MultipleLines','Contract','TotalCharges','Churn']
df=df[keep_to_columns]

In [13]:
# encoded binary variables
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [15]:
categorical_cols=['gender','Partner','Dependents','PhoneService','MultipleLines','Contract','Churn']
for col in categorical_cols:
    df[col]=label_encoder.fit_transform(df[col])

In [16]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,29.85,0
1,1,0,0,0,34,1,0,1,1889.5,0
2,1,0,0,0,2,1,0,0,108.15,1
3,1,0,0,0,45,0,1,1,1840.75,0
4,0,0,0,0,2,1,0,0,151.65,1
...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,1,1990.5,0
7039,0,0,1,1,72,1,2,1,7362.9,0
7040,0,0,1,1,11,0,1,0,346.45,0
7041,1,1,1,0,4,1,2,0,306.6,1
7042,1,0,0,0,66,1,0,2,6844.5,0

In [17]:
# split independent and dependent data from dataset(df)
x=df.drop('Churn',axis=1)
y=df['Churn']

In [18]:
x

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges
0,0,0,1,0,1,0,1,0,29.85
1,1,0,0,0,34,1,0,1,1889.5
2,1,0,0,0,2,1,0,0,108.15
3,1,0,0,0,45,0,1,1,1840.75
4,0,0,0,0,2,1,0,0,151.65
...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,1,1990.5
7039,0,0,1,1,72,1,2,1,7362.9
7040,0,0,1,1,11,0,1,0,346.45
7041,1,1,1,0,4,1,2,0,306.6
7042,1,0,0,0,66,1,0,2,6844.5

In [19]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int32

In [20]:
# train_test_split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
x_train

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges
2142,0,0,0,1,21,1,0,1,1336.8
1623,0,0,0,0,54,1,2,2,5129.45
6074,1,0,1,0,1,0,1,0,23.45
1362,1,0,0,0,4,1,0,0,237.95
6754,1,0,0,1,0,1,2,2,
...,...,...,...,...,...,...,...,...,...
3772,1,0,1,0,1,1,0,0,95
5191,0,0,1,1,23,1,2,2,2198.3
5226,1,0,1,1,12,1,0,0,306.05
5390,1,1,0,0,12,1,2,0,1200.15
860,1,0,0,0,26,1,0,1,457.3

In [22]:
x_test

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges
185,0,0,1,0,1,0,1,0,24.8
2715,1,0,0,0,41,1,2,0,996.45
3825,0,0,1,1,52,1,0,2,1031.7
1807,0,0,0,0,1,1,0,0,76.35
132,1,0,0,0,67,1,0,2,3260.1
...,...,...,...,...,...,...,...,...,...
6366,0,0,1,0,64,1,0,2,4378.8
315,1,0,1,1,51,1,2,1,5686.4
2439,1,0,1,1,17,1,0,1,329.75
5002,0,0,1,1,69,0,1,2,2960.1
1161,1,0,0,1,1,0,1,0,31.35

In [23]:
y_train

2142    0
1623    0
6074    1
1362    1
6754    0
       ..
3772    1
5191    0
5226    0
5390    1
860     0
Name: Churn, Length: 5634, dtype: int32

In [24]:
y_test

185     1
2715    0
3825    0
1807    1
132     0
       ..
6366    0
315     0
2439    0
5002    0
1161    1
Name: Churn, Length: 1409, dtype: int32

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         7043 non-null   int32
 1   SeniorCitizen  7043 non-null   int64
 2   Partner        7043 non-null   int32
 3   Dependents     7043 non-null   int32
 4   tenure         7043 non-null   int64
 5   PhoneService   7043 non-null   int32
 6   MultipleLines  7043 non-null   int32
 7   Contract       7043 non-null   int32
 8   TotalCharges   7043 non-null   object
 9   Churn          7043 non-null   int32
dtypes: int32(7), int64(2), object(1)
memory usage: 357.8+ KB

In [26]:
# here total charges is a obejct type but we need to convert the numeric value using(to_numeric)
x_train['TotalCharges']=pd.to_numeric(df['TotalCharges'],errors='coerce')
x_test['TotalCharges']=pd.to_numeric(df['TotalCharges'],errors='coerce')

In [31]:
# check x_train is null or not (is null then fillna with their mean value)
x_train.isnull().sum()

gender            0
SeniorCitizen     0
Partner           0
Dependents        0
tenure            0
PhoneService      0
MultipleLines     0
Contract          0
TotalCharges     10
dtype: int64

In [32]:
# fillna
x_train['TotalCharges'].fillna(x_train['TotalCharges'].mean(),inplace=True)

In [36]:
x_train.isnull().sum()

gender           0
SeniorCitizen    0
Partner          0
Dependents       0
tenure           0
PhoneService     0
MultipleLines    0
Contract         0
TotalCharges     0
dtype: int64

In [37]:
# check x_test is null or not (is null then fillna with their mean value)
x_test.isnull().sum()

gender           0
SeniorCitizen    0
Partner          0
Dependents       0
tenure           0
PhoneService     0
MultipleLines    0
Contract         0
TotalCharges     1
dtype: int64

In [38]:
# fillna
x_test['TotalCharges'].fillna(x_test['TotalCharges'].mean(),inplace=True)

In [39]:
x_test.isnull().sum()

gender           0
SeniorCitizen    0
Partner          0
Dependents       0
tenure           0
PhoneService     0
MultipleLines    0
Contract         0
TotalCharges     0
dtype: int64

In [41]:
# standardization process(optional but offten benifical for Logistic Regression)
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [42]:
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

In [43]:
x_train

array([[-1.02516569, -0.4377492 , -0.96957859, ..., -1.00053704,
         0.37290835, -0.42210502],
       [-1.02516569, -0.4377492 , -0.96957859, ...,  1.10833901,
         1.5775905 ,  1.25536015],
       [ 0.97545208, -0.4377492 ,  1.03137591, ...,  0.05390099,
        -0.83177379, -1.00299144],
       ...,
       [ 0.97545208, -0.4377492 ,  1.03137591, ..., -1.00053704,
        -0.83177379, -0.87799925],
       [ 0.97545208,  2.28441306, -0.96957859, ...,  1.10833901,
        -0.83177379, -0.48254445],
       [ 0.97545208, -0.4377492 , -0.96957859, ..., -1.00053704,
         0.37290835, -0.81110232]])

In [44]:
x_test

array([[-0.94946537, -0.44854601,  1.04724696, ...,  0.09805241,
        -0.81439391, -0.97677174],
       [ 1.05322431, -0.44854601, -0.95488461, ...,  1.15267717,
        -0.81439391, -0.55062646],
       [-0.94946537, -0.44854601,  1.04724696, ..., -0.95657236,
         1.54425156, -0.53516655],
       ...,
       [ 1.05322431, -0.44854601,  1.04724696, ..., -0.95657236,
         0.36492882, -0.84302707],
       [-0.94946537, -0.44854601,  1.04724696, ...,  0.09805241,
         1.54425156,  0.31058918],
       [ 1.05322431, -0.44854601, -0.95488461, ...,  0.09805241,
        -0.81439391, -0.97389904]])

In [45]:
## logistic Regression
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [46]:
lr.fit(x_train,y_train)

LogisticRegression()

In [47]:
y_pred=lr.predict(x_test)

In [48]:
y_pred

array([1, 0, 0, ..., 0, 0, 1])

In [51]:
# accuracy
from sklearn.metrics import accuracy_score

In [52]:
accuracy_score(y_test,y_pred)

0.7778566359119943

In [55]:
## model save
import pickle
pickle.dump(lr,open('01_logistic_model.pkl','wb'))

# ## classification system

In [83]:
## classification system
def predictive(gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges):
    data={
        'gender':[gender],
        'SeniorCitizen':[SeniorCitizen],
        'Partner':[Partner],
        'Dependents':[Dependents],
        'tenure':[tenure],
        'PhoneService':[PhoneService],
        'MultipleLines':[MultipleLines],
        'Contract':[Contract],
        'TotalCharges':[TotalCharges]
    }
    df1=pd.DataFrame(data)
    
  

    # Encode the categorical columns
    categorical_columns = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'Contract']
    for column in categorical_columns:
        df1[column] = label_encoder.fit_transform(df1[column])
    df1 = scaler.fit_transform(df1)

    result = lr.predict(df1).reshape(1,-1)
    return result[0]

In [86]:
gender='Female'
SeniorCitizen='No'
Partner='Yes'
Dependents='No'
tenure=1
PhoneService='No'
MultipleLines='No phone service'
Contract='Month-to-month'
TotalCharges=29.85
result=predictive(gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,TotalCharges)

if result==0:
    print('Not Churn')
else:
    print('Churn')

Not Churn

In [87]:
import streamlit as st